.tips-search-section {
  position: relative;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.search-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.tip-search-input {
  padding: 1rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 100%;
  max-width: 40rem;
  margin-bottom: 1rem;
  background: 1rem 50% url('../../reusable/icons//magnifier/magnifier.svg') no-repeat;
}

.tips-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 80rem;
  margin: 2rem auto;
}

.tip-card {
  padding: 1rem;
  margin: 2rem 1rem;
  flex: 0 1 35rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1.5rem;
}

.tip-card:hover {
  background: rgba(0, 0, 0, 0.1);
}

.tip-content {
  position: relative;
  padding: 0 2rem 1rem 0;
}

.tip-card-info {
  position: absolute;
  top: 0;
  right: 0;
}

.tip-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.tip-search-tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: .5rem 0;
}

.tag {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.tip-icons {
  display: flex;
  gap: 1rem;
}

@media (max-width: 800px) {
  .tip-search-input {
    width: calc(100% - 4rem);
    max-width: 29rem;
    margin: 0 1rem;
  }
  .tips-container {
    justify-content: center;
  }

  .tip-card {
    margin: 2rem 1rem;
  }
}

.background-circle-left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-60%, 0%);
}

.background-triangle-right-center {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -60%);
  animation: triangle linear 60s infinite;
}

@keyframes triangle {
  0% {
    transform: translate(50%, -60%) rotate(0deg);
  }
  100% {
    transform: translate(60%, -50%) rotate(360deg);
  }
}